In [1]:
import sqlite3 as sql
import pandas as pd
import re
import numpy as np

In [2]:
con=sql.connect('brandCars.db')

In [3]:
data = pd.read_sql('SELECT nameBrand FROM brandCars',con)
#data

In [4]:
def Brand(marcas,auto):
    for x in marcas:
        if( str(x[0]) in auto ):
            auto = auto.replace(x[0],'')
            modelo=auto.split()[0] 
            marca = x[0]
            motor=re.findall(r"[-+]?(?:\d*\.\d+|\d+)",auto)
            auto=auto.split(str(motor[0]))  
            print(auto[1])
            if( auto[1].startswith('l ') ):
                linea=auto[1].split()[1]
                print(linea)
            else:
                 linea=auto[1]
    return (marca,modelo,motor[1],linea)

In [5]:
def Brand_x(marcas,auto):
    try:
        for x in marcas:
            if( str(x[0]) in auto ):
                auto = auto.replace(x[0],'')
                modelo=auto.split()[0] 
                marca = x[0]
                motor=re.findall(r"[-+]?(?:\d*\.\d+|\d+)",auto)
                auto=auto.split(str(motor[0]))  
                linea=auto[1].split()[1]
                #print(linea[1])
        return (marca,modelo,motor[1],linea)
    except:
        print('')

In [6]:
marcas=np.array(data.iloc[ 1:,0:1])
auto='Peugeot 208 1.6l Style'
Brand_x(marcas,auto)

('Peugeot', '208', '1.6', 'Style')

In [15]:
aux='Escobar - Bs.As. G.B.A. Norte'

In [20]:
def dividirStr(aux):
    lista=aux.split(' - ')
    return lista[0]

In [21]:
print(dividirStr(aux))

Escobar